@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-paper text-ink font-sans;
	}

	summary {
		cursor: pointer;
	}

	input,
	textarea {
		background-color: transparent;
	}
}

@layer components {
	.link {
		text-decoration: underline;
		@apply hover:no-underline hover:bg-accent/20;
	}

	._btn {
		padding: 0.5em 1em;
	}
	.action {
		@apply _btn bg-ink text-paper rounded-lg;
	}
}

@layer utilities {
	.debug {
		border: 1px dashed red;
	}

	._section { @apply mx-auto py-12 <md:py-8 px-4; }
	.section { @apply _section max-w-screen-lg; }
	.section-sm { @apply _section max-w-screen-sm; }

	.full-width {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	._h { @apply font-serif font-bold; }
	.h0 { @apply _h text-6xl; }
	.h1 { @apply _h text-4xl; }
	.h2 { @apply _h text-3xl; }
	.h3 { @apply _h text-2xl; }
	.h4 { @apply _h text-xl; }

	/* richtext */

	.richtext > * + * {
		margin-top: 1em;
	}

	.richtext h2 { @apply h2; }
	.richtext h3 { @apply h3; }
}
