@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		accent-color: dodgerblue;
		caret-color: dodgerblue;
		scroll-behavior: smooth;
	}

	summary {
		cursor: pointer;
	}
}

@layer components {
	.link {
		@apply underline hover:decoration-2;
	}
}

@layer utilities {
	.debug {
		border: 1px dashed red;
	}

	.full-width {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	._h { @apply font-bold; }
	.h0 { @apply _h text-4xl; }
	.h1 { @apply _h text-3xl; }
	.h2 { @apply _h text-2xl; }
	.h3 { @apply _h text-xl; }

	/* richtext */

	.richtext > * + * {
		margin-top: 1em;
	}

	.richtext h2 { @apply h2; }
	.richtext h3 { @apply h3; }
}
