@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		accent-color: dodgerblue;
		caret-color: dodgerblue;
	}

	summary {
		cursor: pointer;
	}
}

@layer components {
	.link {
		@apply underline hover:decoration-2;
	}

	/* richtext */
	.richtext > * + * {
		margin-top: 1em;
	}

	.richtext h2 { @apply h2; }
}

@layer utilities {
	.debug {
		border: 1px dashed red;
	}

	.h0 { @apply text-4xl font-bold; }
	.h1 { @apply text-3xl font-bold; }
	.h2 { @apply text-2xl font-bold; }

	.full-width {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}
}
